@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

:root {
    --colorP: #232c50;
    --colorS: #242D52;
    --colorT: rgb(242, 95, 58);
    --ColorC: rgb(143, 148, 167)
}

*{
    margin: 0;
    padding: 0;   
    font-family: 'be Vietnam','roboto','arial';
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
}

.button{
    color: white;
    border: 0px;
    background-color: var(--colorT);
    border-radius: 5rem;
    height: 4.4rem; 
    width: 16rem;
    font-size: 1.5rem;
}

h1{
    position: relative;
    bottom: 0.8rem;
    font-size: 3rem;
    color: var(--colorS);
    margin-right:;    
}

h3{
    color: var(--colorS);
    font-size: 3rem;
    padding: 4rem;
    text-align: center;
}

h4{
    color: var(--colorS);
    text-align: center;
    font-size: 2.3rem;
}

p{
    font-size: 1.63em;
    line-height: 2em;
}
span{
    align-items: center;
    background-color: var(--colorT);
    border-radius: 5rem;
    color: white;
    display: inline-block;
    display: flex;
    font-size: 1.63em;
    height: 4.3rem;
    justify-content: center;
    width: 6.9rem;    
}
.numero{
    align-items: center;
    display: flex;
}

/* header */

header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 6rem 12rem;
}

.logo{
    height: 2rem;
    margin-right: 1rem;
}

div img{
    justify-content: flex-start;
}

.list{
    font-size: 1.8rem;
    color: var(--colorS);
    display: flex;
    width: 25em;
    justify-content: space-between;
}

a{
    color: black;
    text-decoration: none;
}

.nav__header{
    justify-content: space-between;
    width: 45em;
}

.fa {
    display: none;
}

/* section one */


.section1{
    display: flex;
    margin: 5em;
    text-align: center;

}

.section1__img{
    left: 10rem;
    width: 100%;
}

article h2{
    color: #232C50;
    font-size: 5em;
    margin-bottom: 3rem;
}

/* section two */

.section2{
    display: flex;
    padding: 0 3rem;
    margin-bottom: 6rem;
}

.section2 p{
    margin: 3rem 0;
}

.profiles{
    text-align: center;
    flex-wrap: wrap;
}

/* profiles */

.list__profile{
    display: flex;
    padding: 4rem;
}

.last{
    margin-bottom: 7rem;
}

.art-final{
    background-color: var(--colorT);
    display: flex;
    height: 22.4rem;
    align-items: center;
}
.art-final p{
    color: white;
    font-size: 5rem;
    line-height: 5rem;
    padding-left: 10rem;
    position: relative;
    text-align: left;
    font-weight: 700;
    width: 80rem;
    

}
/* Footer */

.footer {
    background-color: #1e1e26;
    color: white;
    height: 24.7rem;
    padding: 2rem;
}

.footer__contain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer__form a{
    color: white;
}


@media screen and (max-width: 835px) {
    .section1{
        flex-wrap: wrap-reverse;
        align-items: center;
        text-align: center;
    }
    .section2{
        flex-wrap: wrap;
    }
    .fa {
        display: initial;
    }

}