#batman{
    background-color: #E6E6E6;
    text-align: center;
    ;
}
h1{
    color: #005677;
    text-align: center;
    background-color: #C4C4C4;
}
.subtitulo{
    color: #005677;
    text-align: left;
    background-color: #C4C4C4;
    font-size: 20px;
}
.lista{
    size: 15px;
    line-height: 24px;
}
#cierre{
    background-color: #005677;
    text-align: center;
}